.contact img {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    margin-top: 40px;
}
main{
    background-color: white;
    padding-bottom: 15px;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.spancontact{
    color: gray;
    font-weight: 550;
}

.h1contact{
    font-family: 'montserrat';
    font-weight: 700;
    color: #3BABAD;
    font-size: 50px;
}

.pcontact{
    width: 50%;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 40px;
    color: gray;
}


.btns {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.btncontact {

    background-color:grey ;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  font-weight: 800;
  width: max-content;
  align-self: center;
}