nav {
    display: flex;
    justify-content: end;
    padding: 10px;
    background-color: #3BABAD;
    position: sticky;
    z-index: 1;
    top: 0;

}
.navlinks {
    padding: 20px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}