

#jonnevie{
  font-family: 'montserrat';
  font-weight: 700;
  color: #347173;
  font-size: 50px;
}

#cheok{
  color: white;
  font-weight: 500;
}

#maintext {
  font-family: 'montserrat';
  color: white;
  font-weight: 500;
}
.buttonDark{
  background-color:#347173 ;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  font-weight: 800;
}

.App-header {
  width: 75%;
  /* border: 1px solid red; */
  margin: auto;
  
}
.App {
  background-color: #3BABAD;
  height: 90vh;
  display: flex;
  box-sizing: border-box;

}
